
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<img src="~/Images/Sikh temple 2.jpg" width="300" height="300" />
<h2>History of Sikhism</h2>

<h6>Origins of Sikhism</h6>
<p>

    Sikhism was born in the Punjab area of South Asia, which now falls into the present day states of India and Pakistan. The main religions of the area at the time were Hinduism and Islam.

    The Sikh faith began around 1500 CE, when Guru Nanak began teaching a faith that was quite distinct from Hinduism and Islam.

    Nine Gurus followed Nanak and developed the Sikh faith and community over the next centuries
</p>
<img src="~/Images/Guru Nanak 1.jpg" width="300" height="300" />
<h6>Militarisation of the Sikhs</h6>
<p>
    Sikhism was well established by the time of Guru Arjan, the fifth Guru.

    Guru Arjan completed the establishment of Amritsar as the capital of the Sikh world, and compiled the first authorised book of Sikh scripture, the Adi Granth.

    However, during Arjan's time Sikhism was seen as a threat by the state and Guru Arjan was eventually executed for his faith in 1606.

    The sixth Guru, Hargobind, started to militarise the community so that they would be able to resist any oppression. The Sikhs fought a number of battles to preserve their faith.

    The Sikhs then lived in relative peace with the political rulers until the time of the Moghal Emperor, Aurangzeb, who used force to make his subjects accept Islam.

    Aurangzeb had the ninth Guru, Tegh Bahadur, arrested and executed in 1675.
</p>
<img src="~/Images/Guru Arjan dev 1.jpg"  width="300" height="300"/>
<h6>The Khalsa</h6>
<p>
    The tenth Guru, Gobind Singh, recreated the Sikhs as a military group of men and women called the Khalsa in 1699, with the intention that the Sikhs should for ever be able to defend their faith.

    Gobind Singh established the Sikh rite of initiation (called khandey di pahul) and the 5 Ks which give Sikhs their unique appearance.

    Gobind Singh was the last human Guru. Sikhs now treat their scriptures as their Guru.
</p>
<img src="~/Images/Sikh Guru 2.jpg"  width="300" height="300"/>

<h6>The Sikhs and The British Raj</h6>
<p>
    After Ranjit Singh died in 1839 the Sikh state crumbled, damaged by vicious internal battles for the leadership.

    In 1845-6 troops of the British Empire defeated the Sikh armies, and took over much Sikh territory.

    The Sikhs rebelled again in 1849, and were defeated by the British, this time conclusively.
</p>
<p>
    After this final battle, the Sikhs and the British discovered they had much in common and built a good relationship. The tradition began of Sikhs serving with great distinction in the British Army.

    The Sikhs got on well with the British partly because they came to think of themselves less as subjects of the Raj than as partners of the British.

    The British helped themselves get a favourable religious spin when they took control of the Sikh religious establishment by putting their own choices in control of the Gurdwaras.

    Good relations between Sikhs and British came to an end in 1919 with the Amritsar massacre.

</p>
<p>
    1919 - the Amritsar massacre
    This was a shameful event in the history of British India.

    In April 1919 British troops commanded by General E H Dyer opened fire without warning on 10,000 people who were holding a protest meeting. The troops killed about 400 people and wounded 1,000.

    Dyer felt that he had been obliged to teach a moral lesson to the Punjab.

    Realising the damage that had been done, the British rapidly retired Dyer, but not without promoting him first.

    Some historians regard the Amritsar Massacre as the event that began the decline of the British Raj, by adding enormous strength to the movement for Indian independence.

    In October 1997, Queen Elizabeth II made the gesture of laying a wreath at the site of the massacre.
</p>
<img src="~/Images/Sikh War 2.jpg" />
<h6>1947</h6>
<p>
    When British India gained its independence in 1947; it was divided between India and the Islamic state of Pakistan. The Sikhs felt badly treated and reluctantly chose to join India.

    The Sikhs were unable to demand their own state, because there were too few of them to resist Pakistan’s claim to the Punjab.

    Only by siding with India were they able to keep part of the Punjab, although not before appalling loss of life in communal massacres.

    Sikhs lost many of their privileges, much of their land, and were deeply discontented.
</p>
<img src="~/Images/Sant JI 1.jpg" width="300" height="300" />
<h6>Greater Automony for the  Punjab</h6>
<p>
    The Sikh ambition for a state of their own was something that India would not concede. To do so would have allowed communalism (i.e. religious groupings) an unbreakable foothold in the politics of what was supposed to be a secular state.

    However, in 1966, after years of Sikh demands, India divided the Punjab into three, recreating Punjab as a state with a Sikh majority.

    This was not enough to stop Sikh anger at what they saw as continuing oppression and the unfair way in which they thought India had set the boundaries of the new state. They continued to demand various concessions from the Indian government.
</p>
<img src="~/Images/1984 1.jpg"  width="300" height="300"/>
<h6>Invasion of the Golden Temple</h6>
<p>
    As Sikh discontent grew, the conflict gradually changed from a purely political conflict into a confrontation between Hindus and Sikhs; and then to real violence.

    A Sikh preacher called Jarnail Singh Bhindranwale became the leader of the most disaffected of the Sikhs. He was often portrayed as representing all Sikhs, although, actually, he did not. In 1983 Bhindranwale and his closest followers took refuge in the Golden Temple Complex at Amritsar, the most revered place in the Sikh world.

    In June 1984 Indian troops launched 'Operation Blue Star'. They attacked the Golden Temple Complex, killing many of those inside, and seriously damaging the buildings.
</p>