
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<h6>Sat Sri Akaal</h6>
<h6>ਸਤਿ ਸ਼੍ਰੀ ਅਕਾਲ</h6>

<h6>Welcome to the Gurdwara</h6>
<h6>ਗੁਰਦੁਆਰੇ ਵਿੱਚ ਜੀ ਆਇਆਂ ਨੂੰ</h6>

<h6>TODAY’S HUKUMNAMA</h6>
<p>
    ਰਾਗੁ ਜੈਤਸਰੀ - ਮ: ੫ - ਸ੍ਰੀ ਗੁਰੂ ਗ੍ਰੰਥ ਸਾਹਿਬ ਜੀ - ਅੰਗ ੭੦੯
    ਸਲੋਕ ॥
    ਦਇਆ ਕਰਣੰ ਦੁਖ ਹਰਣੰ ਉਚਰਣੰ ਨਾਮ ਕੀਰਤਨਹ ॥
    ਦਇਆਲ ਪੁਰਖ ਭਗਵਾਨਹ ਨਾਨਕ ਲਿਪਤ ਨ ਮਾਇਆ ॥੧॥
    ਭਾਹਿ ਬਲµਦੜੀ ਬੁਝਿ ਗਈ ਰਖੰਦੜੋ ਪ੍ਰਭੁ ਆਪਿ ॥
    ਜਿਨਿ ਉਪਾਈ ਮੇਦਨੀ ਨਾਨਕ ਸੋ ਪ੍ਰਭੁ ਜਾਪਿ ॥੨॥
    Sri Guru Granth Sahib Ji Ang  709
</p>
<img src="~/Images/Sikhs 4.jpg" />
<h6>What is a Gurdwara ?</h6>
<p>A Gurdwara is the place where Sikhs come together for congregational worship.</p>

<p>
    The first Gurdwara in the world was built by Guru Nanak in 1521-2 at Kartarpur. There are about 200 Gurdwaras in Britain.

    The literal meaning of the Punjabi word Gurdwara is 'the residence of the Guru', or 'the door that leads to the Guru'.
</p>
<h6>Inside the Gurdwara</h6>
<p>There are no idols, statues, or religious pictures in a Gurdwara, because Sikhs worship only God, and they regard God as having no physical form. Nor are there candles, incense, or bells, or any other ritualistic devices.</p>
<img src="~/Images/Sikh temple 6.jpg" />
<h6>The Guru Granth Sahib</h6>
<p>The focus of attention, and the only object of reverence in the main hall (or Darbar Sahib) is the book of Sikh scripture, the Guru Granth Sahib, which is treated with the respect that would be given to a human Guru.</p>
<img src="~/Images/Langar 13.jpg"  width="300" height="300"/>
<h6>Langar Kitchen</h6>
<p>
    very Gurdwara has a Langar attached to it where food is served to anyone without charge. The term Langar is also used for the communal meal served at the Gurdwaras.

    The food served in the Langar must be simple, so as to prevent wealthy congregations turning it into a feast that shows off their superiority.
</p>
<img src="~/Images/Sikh temple 2.jpg"  width="400" height="400"/>